
@if (authService.currentUser()) {
  <app-dashboard />
} @else {

  @if (navigationService.currentPage() === 'landing') {
    <div class="min-h-screen bg-[#F8FAFC] text-[#0F172A] antialiased selection:bg-blue-100 selection:text-blue-900">
      <app-header />
      
      <main>
        <app-hero />
        <app-showcase />
        <app-how-it-works />
        <app-pricing />
      </main>
      
      <app-footer />

      @if (modalService.isOpen()) {
        <app-login-modal />
      }
    </div>
  } @else if (navigationService.currentPage() === 'demo') {
    <app-demo-page />
  }

}
